@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Распродажа книг</h3>
    <table id="content" class="box">
        <tr class="header">
            <td>Название книги</td>
            <td>Автор</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        @foreach (BookStore.Models.Book b in ViewBag.Books)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Author</td>
                <td>@b.Price</td>
                <td>
                    <p>@Html.ActionLink("Купить", "Buy", "Home", new { Id = b.Id }, null)</p>
                    <p>@Html.ActionLink("DEL", "DeleteBook", "Home", new { Id = b.Id }, null)</p>
                </td>
            </tr>
        }
    </table>
</div>
