<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    <script>
        jQuery(document).ready(function () {
            jQuery("h2").css("color", "green");
        });
    </script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        </ul>
    </nav>

    @RenderBody()
    @RenderSection("scripts", required: false)

    <footer>&copy;copyright 2019, @DateTime.Now.ToShortTimeString()</footer>
</body>
</html>
